# --- Système Mac ---
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes

# --- Fichiers Sensibles ---
.env
*.pem
*.key
*.p12
secrets.yml
auth.json

# --- Temporaires et Logs ---
*.log
*.tmp
*.temp
.cache/

# --- Outils de Home Lab ---
.terraform/
*.tfstate
*.tfstate.backup